<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Brown Paper Tickets Issue Tracker</title>
	<link href="/css/normalize.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  	<link href="/css/app.css" media="screen, projector, print" rel="stylesheet" type="text/css" />
  	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" ></script>
  	<script src="/js/issue-form.js" type="text/javascript"></script>
</head>
<body>
	<div class="contain-to-grid sticky">
		<nav class="top-bar">
			<ul class="title-area">
				<li class="name">
					<h1><a href="#">BPT Issue Tracker</a></h1>
				</li>
			</ul>
			<section class="top-bar-section">
				<ul class="right">
					<li class="active">
						<a href="#">View All Issues</a>
					</li>
					<li class="divider"></li>
					<li class="active">
						<a href="#">Your Issues</a>
					</li>
				</ul>
			</section>
		</nav>
	</div>
	<div class="row">
		<div class="small-12 columns">
			<h1>BPT Issue Tracker</h1>