<? include ../partials/header ?>
<h2>Recent Issues</h2>
<h5 class="subheader">Logged in as: <?= client_name ?></h5>
<div class="row">
	<div class="small-12 columns">
		<? include ../partials/latestissues ?>
	</div>
</div>
<? include ../partials/footer ?>
